fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
email-validator
numpy
pandas
scikit-learn
joblib
bcrypt==4.0.1
leadtools
